{% extends "base.html.twig" %}
 {% block navigation %}
     <li><a href="{{ path('Admin_All_Articles') }}">Articles</a></li>
     <li><a href="{{ path('All_Exercices')}}">Exercices</a></li>
     <li><a href="{{ path('All_Programs') }}">Programmes</a></li>
     <li><a href="{{ path('Identity_Page') }}">Qui sommes nous ?</a></li>
     <li><a href="{{ path('Take_rdv') }}">Prise de Rendez-Vous</a></li>
 {% endblock %}


{% block main %}
    <h1>
        {#        <a href="{{ path('Exercice_Show'), ('id': exercice.id) }}">#}
        Ma liste d'article
        {#        </a>#}
    </h1>
    <a href="{{ path('Article_Insert') }}">Création d'article</a>
    {% for articles in articleslist %}
        <h2><a href="{{ path('Article_Show', {'id': articles.id}) }}">{{ articles.title }}</a></h2>
        <p>{{ articles.description }}</p>
    {% endfor %}




{% endblock %}