{% extends "base.html.twig" %}


{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('Exercice_Update',{'id': exercice.id }) }}"> Modifier cet exercice </a>
        <br>
        <a href="{{ path('Exercice_Delete',{'id': exercice.id})}}"> Supprimer cet exercice </a>
    {% endif %}
    <article>
        <h1>L'exercice n° {{ exercice.id }}</h1>

        <h2> {{  exercice.name}}</h2>
        <p>{{ exercice.description }}</p>
        <p>{{ dump(exercice.category) }}</p>

        {% for exercice in exercice.filename %}

            {% if exercice.filename %}
                <div class="width-33">
                    <img src="{{ asset("assets/uploads/" ~ exercice.Filename) }}" alt="" class="resp">
                </div>
                <a href="{{ path('delete_exercice_image',{'id': exercice.id})}}" data-delete data-token="{{ csrf_token('delete' ~ exercice.id )}}"> Supprimer cette image </a>

            {% endif %}
        {% endfor %}
    </article>
    <script src="{{ asset('assets/js/Picture.js') }}"></script>
{% endblock %}