{% extends "base.html.twig" %}


{% block main %}

    <h1 class="text-center"> {{  exercice.name|capitalize }} </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="adminlink">
            <a href="{{ path('Exercice_Update',{'id': exercice.id }) }}" > Modifier cet exercice </a>
        </div>
        <div class="adminlink">
            <a href="{{ path('Exercice_Delete',{'id': exercice.id})}}" > Supprimer cet exercice </a>
        </div>
    {% endif %}
    <article class="flexblock center">
        <div class="unelement">
            <p>{{ exercice.description }}</p>
            {#            <p>{{ dump(exercice.category) }}</p>#}
        </div>
        <div class="unelement">
            {% for exercice in exercice.filename [:1] %}

                {% if exercice.filename %}
                    <div class="width-90 text-center">

                        <img src="{{ asset("assets/uploads/" ~ exercice.Filename ) }}" alt="" class="resp">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('delete_exercice_image',{'id': exercice.id})}}"
                               data-delete data-token="{{ csrf_token('delete' ~ exercice.id )}}"
                               class="delete"> Supprimer cette image </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </article>
    <script src="{{ asset('assets/js/Picture.js') }}"></script>
{% endblock %}