{% extends "base.html.twig" %}


{% block main %}

    <h1>
        Insertion d'article
    </h1>

    {{  form_start(form, {'attr': {'class': 'form'}}) }}


    <div class="formBloc">
        <h2>{{ form_label(form.title) }}</h2>
        {{ form_widget(form.title, { 'attr' : {'class' : 'formTitle'} }) }}
        {{ form_errors(form.title) }}
    </div>

        {% for message in app.flashes('error') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <label for="mail">Entrez votre email</label>
        <input type="email" id="mail" name="email">
        <div>
            <label for="start">Start date:</label>

            <input type="datetime" id="start" name="beginAt">
            <small>Office hours are 6am to 10pm</small>

        </div>
        <div>
            <label for="appt">Choose a time for your meeting:</label>

            <input type="datetime" id="appt" name="endAt" required>

            <small>Office hours are 6am to 10pm</small>
        </div>


    {{ form_row(form.valider) }}

    {{  form_end(form) }}

{% endblock %}

