{% extends "base.html.twig" %}


{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="adminlink">
            <a href="{{ path('Program_Update',{'id': program.id})}}"> Modifier ce programme </a>

        </div>
        <div class="adminlink">
            <a href="{{ path('Program_Delete',{'id': program.id})}}"> Supprimer ce programme </a>
        </div>
    {% elseif app.user %}
        <div>
            <a href="{{ path('panier_plein', {'id': program.id}) }}"> Ajouter au panier</a>
        </div>
    {% else %}
        <div>
            <a href="{{ path('app_login', {'id': program.id}) }}">me connecter pour commander</a>
        </div>
    {% endif %}
    <br>


    <h1 class="text-center">{{ program.Title | capitalize}}</h1>
    <section class="flexblock width-90 center">

        <div class="unelement text-center milieu">

            <p>{{ program.Description }}</p>

            <p>{{ program.Price }} Euros</p>
{#            {{ dump(program.category) }}#}
        </div>
        {% if program.Filename %}
            <div class="unelement">
                <img src="{{ asset("assets/uploads/" ~ program.Filename.Filename) }}" alt="" class="resp">
            </div>
        {% endif %}
    </section>


{% endblock %}