{% extends "base.html.twig" %}


{% block main %}

    <h1>Les rendez vous</h1>
    <section class="container">

        {{ form_start(form) }}

        {{ form_row(form.title) }}

        {{ form_row(form.level) }}

        <div class="row ">
            {% for rdv in rdvs %}
                <div class="select">
                    {{ rdv.date|date("m/d/Y") }}
                    <br>
                    De {{ rdv.starthour|date("H:i") }} à {{ rdv.endHour|date("H:i") }}
                    <br>
                    {{ rdv.price }} €
                    <br>
{#                    {% for don in rdv.reserver %}#}
{#                   {{ dump(rdv.reserver) }}#}

{#                    {% endfor %}#}
                </div>
            {% endfor %}
        </div>
    </section>
    {{ form_row(form.reserver) }}
    {{ form_end(form) }}

{% endblock %}